* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffb6c1;
    margin: 20px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    max-width: 1000px;
    margin: 0 auto;
}

.div-box:hover {
    background-color: #add8e6;
}


h1 {
    text-align: center;
    margin: 20px;
}

#resetButton {
    padding: 10px;
    border-radius: 10px;
    border: dotted 3px red;
    display: flex;
    margin: 0 auto;
}

.btnContainer {
    margin-bottom: 20px;
}