* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 672px;
    height: 672px;
    max-width: 1200px;
    margin: 0 auto;
}

.div-box:hover {
    background-color: #ff0000;
}


h1 {
    text-align: center;
}

#resetButton {
    padding: 10px;
    border-radius: 10px;
    border: dotted 3px red;
    display: flex;
    margin: 0 auto;
}

.btnContainer {
    margin-bottom: 20px;
}